body {
    background-color: lightseagreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

button {
    cursor: pointer;
    margin: auto;
    margin-top: 5px;
    background-color: black;
    color: lightseagreen;
    padding: 7px 10px;
    border: none;
    border-radius: 3px;
    letter-spacing: 3px;
    font-size: 16px;

}

button:hover {
    background-color: rgb(26, 25, 25);
}

button:active {
    transform: scale(0.95);
}

#container {
    margin: auto;
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    width:90vw;
    gap:2px;
    gap:15px;
   
}

.divclass {
    height: fit-content;
    width:fit-content;
    border: 2px solid white;
    padding: 5px;
    background-color: black;
    cursor: pointer;
}

.divclass:hover {
    transform: scale(1.05);
    transition: 300ms ease;
}

img {

    height:300px;
    width:250px;
    box-sizing: border-box;

}

p {
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center;
    color: white;
}

input {
    margin: auto;
    display: block;
    margin-top:10px;
    padding:7px 10px;
    text-align: center;
    border-radius: 3px;
    border:none;
    width: 300px;
    height:30px;
}

input:focus {
    outline:none;
    box-shadow: 0 0 10px  black;
}

h1 {
    margin: auto;
    margin-top: 20px;
    font-size:60px;
    letter-spacing: 3px;
    color: white;
}

p#explanation {
    margin:auto;
    margin-top:10px;
    letter-spacing:3px;
}

